upstream fastapi {
    server                    10.253.0.8:8000;
}

upstream nuxt {
    server                    10.253.0.8:3000;
}

server {
    listen                    [::]:443 ssl;
    listen                    443 ssl;
    server_name               ludika.example.com;

    client_max_body_size      1G;
    ssl_certificate           /etc/letsencrypt/live/ludika.example.com/fullchain.pem;
    ssl_certificate_key       /etc/letsencrypt/live/ludika.example.com/privkey.pem;

    include                   /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam               /etc/letsencrypt/ssl-dhparams.pem;

    if ($scheme != "https") {
        return                301 https://$host$request_uri;
    }

    location / {
        proxy_pass            http://nuxt/;
        proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header      Host $http_host;

        location /api/v1/ {
            proxy_pass        http://fastapi/;
            proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header  Host $http_host;

            location /api/v1/static/ {
                deny          all;
                return        404;
            }
        }
    }

    location /static/ {
        root                  /var/www/ludika-data/static;
    }
}