[Database]
user=ludika
dbname=ludika
password=XXXXX
host=127.0.0.1
port=5432

[Authentication]
secret_key=XXXXX
access_token_expire_minutes=30

[GenerativeAI]
ai_user_id=61443bc0-52c8-49a8-a237-66ce0cdda549
tavily_api_key=XXXXX
nvidia_model=meta/llama-3.1-405b-instruct
nvidia_api_key=nvapi-XXXXX
google_custom_search_api_key=XXXXX
reddit_client_id=MY_CLIENT_ID
reddit_client_secret=XXXXX
